<div id="<%= dom_id flower %>">


  <p>
      <img src="<%= flower.image %>" alt="flower image">
  </p>

  <p>
    <strong>Name:</strong>
    <%= flower.name %>
  </p>

  <p>
    <strong>Scientific name:</strong>
    <%= flower.scientific_name %>
  </p>

  <p>
    <strong>Flower type:</strong>
    <%= flower.flower_type %>
  </p>

  <p>
    <strong>Blooming:</strong>
    <%= flower.blooming %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= flower.color %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flower.description %>
  </p>

</div>

<footer>
    <p>Copyright © 2024 - PetalPedia</p>
    <nav>
        <a href="/">Accueil</a>
        <a href="/about">À propos</a>
        <a href="/contact">Nous Contacter</a>
    </nav>
</footer>
