<p style="color: green"><%= notice %></p>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

<main>

<h1>PetalPedia</h1>

<div id="flowers">
  <% @flowers.each do |flower| %>
<div class="card" style="width: 18rem;">
  <img src="<%= flower.image %>" class="flower_image" alt="Image de fleur">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= flower.name %></p>
    <a><%= link_to "Show this flower", flower %></a>
  </div>
</div>
<% end %>
</div>

<%= link_to "New flower", new_flower_path %>

</main>